extends ./../layout

block content
	h1 Page d'administration

	div 
		h2 Actions 
		span
			a(href="/admin/create")
				button.add Rédiger un nouvel article
			a(href="https://anonfiles.com/", target="_blank")
				button.add Uploader un nouveau replay
	div
		h2 Liste des articles

		table(border="1")
			tr
				td Id
				td Titre
				td Résumé
				td Contenu
				td Date et auteur
				td Action
			each article in articles
				tr
					td= article.id
					td= article.title
					td= article.resume
					td= article.content
					td= article.getHumanDate()+" de "+article.getAuthor().firstName+" "+article.getAuthor().lastName
					td
						a(href="/admin/create?edit="+article.id)
							button.edit(data-id=article.id) Editer
						//TODO: à gérer en JS client
						button.remove(data-id=article.id) Supprimer