extends ./../layout

block content
	h1 Page d'administration

	div 
		h2 Actions 
		span
			a(href="/admin/create")
				button.add Rédiger un nouvel article
			a(href="/admin/hall/create")
				button.add Ajouter une nouvelle entrée au Hall of Fame
			a(href="https://anonfiles.com/", target="_blank")
				button.add Uploader un nouveau replay
	div
		h2 Liste des articles

		table(border="1")
			tr
				td Id
				td Titre
				td Résumé
				td Contenu
				td Date et auteur
				td Action
			each article in articles
				tr
					td= article.id
					td= article.title
					td= article.resume
					td= article.content
					td= article.getHumanDate()+" de "+article.getAuthor().firstName+" "+article.getAuthor().lastName
					td
						a(href="/admin/create?edit="+article.id)
							button.edit(data-id=article.id) Editer
						a(href="/admin/delete?id="+article.id)
							button.remove(data-id=article.id) Supprimer

		h2 Liste des entrées du hall of fame

		table(border="1")
			tr
				td Id
				td Titre
				td Description
				td image
				td Action
			each entry in entries
				tr
					td= entry.id
					td= entry.title
					td= entry.description
					td 
						img(src=entry.image, width='100', height='100')
					td
						a(href="/admin/hall/create?edit="+entry.id)
							button.edit(data-id=entry.id) Editer
						a(href="/admin/hall/delete?id="+entry.id)
							button.remove(data-id=entry.id) Supprimer